body{
background:linear-gradient(to right,#141e30,#243b55);
font-family:Arial;
color:white;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
}

.card{
background:white;
color:black;
padding:30px;
border-radius:15px;
width:80%;
max-width:900px;
box-shadow:0 0 20px rgba(0,0,0,0.4);
}

textarea,input{
width:100%;
padding:12px;
margin-top:10px;
border-radius:8px;
border:1px solid #ccc;
}

button{
padding:12px 20px;
margin-top:15px;
border:none;
border-radius:8px;
background:#243b55;
color:white;
cursor:pointer;
}

.stats{
display:flex;
justify-content:space-between;
margin-top:20px;
}

.box{
width:30%;
padding:20px;
border-radius:10px;
text-align:center;
color:white;
}

.positive{
background:#28a745;
}

.negative{
background:#dc3545;
}

.neutral{
background:#ffc107;
color:black;
}

table{
width:100%;
border-collapse:collapse;
margin-top:20px;
}

table,th,td{
border:1px solid black;
}

th,td{
padding:10px;
text-align:center;
}